name: 'Release'

on:
  push:
    branches: ['stable']

jobs:
  bump:
    name: Bump Version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v2

      - name: Install dependencies
        run: npm ci

      - name: Publish release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release

  sync:
    name: Update develop Branch
    runs-on: ubuntu-latest
    needs: bump
    steps:
      - name: Checkout develop Branch
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: develop
      - name: Git Config
        run: |
          git config user.email "${{ secrets.GIT_EMAIL }}"
          git config user.name "${{ secrets.GIT_USERNAME }}"
      - name: Merge stable into develop (Rebase)
        run: git rebase origin/stable
      - name: Push develop Branch
        run: git push